<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CertJud</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div id="app">
        <div id="home" class="hero is-fullheight purple-bg">
          <div class="hero-body hero-banner">
              <header class="hero-head">
                <img src="img/logo-certjud-br.png" width="216">
              </header>

            <section class="container">
              <h1 class="hero-title">
                Advogado, você não precisa esperar!<br>
                 Seja parceiro Certjud e antecipe <br>
                  seus honorários advocatícios
              </h1>
            </section>

            <section id="aboutUs" class="hero">
                <div class="card-container">
                  <div class="single-card" v-for="block in infoBlocks">
                    <div><img :src="block.img" class="icon" alt="icone"></div>

                    <h2>{{ block.title }}</h2>

                    <span>{{ block.text }}</span>
                  </div>
                </div>
            </section>

            <section class="form-container">
              <h2 class="title">Quero saber mais sobre a parceria</h2>
              <form>
                <input class="input" v-model="name" type="text" @input="tiggerMsg" placeholder="Nome completo">
                <input class="input" v-model="email" type="text" @input="tiggerMsg" placeholder="E-mail">
                <input class="input" v-model="tel" type="text" @input="tiggerMsg" placeholder="Telefone com DDD">
                <button class="button is-orange is-rounded is-uppercase is-size-18">Quero mais informações</button>
              </form>

              <transition name="fade">
                <p class="msg" v-show="filled">A nossa equipe de especialistas entrará em contato para informar as vantagens de ser um parceiro Certjud.</p>
              </transition>     
            </section>

            <footer>
              <small style="color: aliceblue;">Para mais informações acesse nosso site: 
                <a href="http://certjud.com.br"><u>certjud.com.br</u></a> 
              </small>
            </footer>
          </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="scripts/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </body>
</html>