/***
  VARIABLES
***/

:root {
  --primary-color: #0d56d9;
  --accent-color: #E09902;
}

/***
  RESETS
***/

@font-face {
  font-family: "siteFont";
  src: url("fonts/AirbnbCerealBook.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "siteFont";
  src: url("fonts/AirbnbCerealMedium.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "siteFont";
  src: url("fonts/AirbnbCerealBold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "siteFont";
  src: url("fonts/AirbnbCerealBlack.ttf");
  font-weight: 900;
}

body {
  font-family: 'siteFont', Arial, Helvetica, sans-serif;
  color: #2E2D33;
}
h1, h2, h3, button {
  font-family: 'siteFont', Arial, Helvetica, sans-serif;
}

/***
  HELPERS
***/

.button.is-orange {
  background-color: var(--accent-color);
  border-color: transparent;
  color: #fff;
}
  .button.is-orange:hover {
    filter: brightness(0.8);
  }

.is-size-18 {
  font-size: 18px;
}
.pl-60 {
  padding-left: 60px;
}
h1.title {
  font-size: 40px;
  font-weight: 900;
  line-height: 1.3;
  text-align: center;
}
h2.title {
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 54px !important;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}

@media screen and (min-width:1600px) {
  .container.fat {
    margin-top: 60px;
  }
  .title {
    margin-bottom: 60px;
  }
  .columns.margin-top {
    margin-top: 80px;
  }
  .icon-block-container h3 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/***
  HERO
***/

.hero.is-fullheight .hero-head {
  height: 100px;
  padding-left: 25px;
  z-index: 2;
}
.hero.is-fullheight .hero-body {
  flex-direction: column;
  align-items: flex-start;
  z-index: 1;
}
  .purple-bg {
    background-color: #8F8CB8;
  }
  .hero-banner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-height: 100vh;
    background-image: url('./img/page-img.jpg');
    background-position: 0 -100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #8F8CB8;
    background-blend-mode: multiply;
    opacity: 0.8;
  }
    .hero-title {
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: 30px;
      font-weight: 700;
      color: white;
      line-height: 40px;
    }
@media screen and (max-width: 1023px) {
  .hero-banner {
    background-position: 0 0;
  }
  .hero-title {
    position: relative;
    height: 80vh ;
    margin: 0 0 40px;
    padding: 100px 0;
    text-align: center;
  }
}
@media screen and (min-width: 1600px) {
  .hero-banner {
    background-position: 0 0;
  }
}

/*** ABOUT US ****/

.card-container {
  display: flex;
  background: transparent;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 5px rgb(0, 0, 0);
  width: 60vw;
  color: white;
}

.container { margin-left: 100px; }

.single-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.single-card:first-child { padding-right: 20px; }
.single-card:last-child { padding-left: 20px; }

.single-card > div {
  background-color: #5CACEE;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 4px black;
}

.single-card > h2 {
  margin: 10px 0 10px 0;
  font-weight: 600;
}

.single-card:nth-child(even){
  border-left: 1px solid white;
  border-right: 1px solid white;
  padding: 0 20px 0 20px;
}

.icon {
  width: 33px;
  height: 33px;
  margin: 8px;
}

@media screen and (max-width: 1023px) {
  .card-container {
    box-shadow: none;
    color: black;
    flex-direction: column;
    width: 100%;
  }

  .container { margin: 0 auto; }
  .single-card { padding: 20px 0 !important; }

  .single-card:nth-child(even){
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
  }
}

/***
  PARCEIRO
***/

.form-container {
  position: fixed;
  width: 350px;
  top: 120px;
  right: 40px;
  padding: 30px;
  background-color: white;
  box-shadow: 0 0 4px rgba(0, 0, 0, .4);
}

.msg {
  font-size: 12px;
  margin: 10px 0;
  line-height: 20px;
  text-align: center;
}

.msg.active {
  opacity: 1;
}

.form-container .title {
  margin-bottom: 30px !important;
  font-size: 24px;
}

.input {
  margin-bottom: 16px;
  height: 47px;
}
form .button {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .form-container {
    width: 100%;
    margin-top: 40px;
    margin-left: 0;
    padding: 20px;
    position: initial;
  }
    .is-size-18 {
      font-size: 16px;
    }
  .pl-60 {
    padding-left: 0;
  }
}

/***
  FOOTER
***/

.fade-enter-active, .fade-leave-active {
  transition: all .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active em versões anteriores a 2.1.8 */ {
  transform: translateX(20px);
  opacity: 0;
}

footer {
  border-top: 1px solid white;
  padding: 1px 50px 0 50px;
  margin:0 auto;
  margin-top: 10px;
}

footer a {
  color: white;
}

@media screen and (max-width: 1023px) {
  footer{
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
    border: none;
  }

  footer small, footer a{
    color: rgb(0, 0, 0) !important;
  }
}